:root {
  --primary: #1f7420;
  --secondary: #132a13;
  --padding: 15px;
  --grey: #405040;
  --light-grey: #dedede;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a{
  color: inherit;
}

* {
  font-family: "Roboto", sans-serif;
}

.container {
  max-width: 400px;
  padding: 30px;
  margin: 0 auto;
}
